{include="header"}
<div class="container-fluid">
   <div class="row">
      <div class="col-sm-12">
         <div class="page-header">
            <h1>
            <i class="fa fa-print" aria-hidden="true"></i>
            Configuracion para la impresion de tickets
            </h1>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-sm-3 col-lg-2">
         <ul class="nav nav-pills nav-stacked">
            <li class="active"><a data-toggle="pill" href="#sec1">
               <span class="fa fa-gears"></span>General</a>
            </li>
         </ul>
      </div>
      <div class="col-sm-9 col-lg-10"> 
         <div class="tab-content">          
            <div id="sec1" class="tab-pane active">         
               <div class="panel panel-primary">
                  <div class="panel-heading">
                     <h3 class="panel-title">Configuracion para impresion de tickets</h3>
                  </div>
                  <div class="panel-body">
                     {include="tab/tab_general"}
                  </div>
               </div>              
            </div>              
         </div>        
      </div>
   </div>
</div>
<script type="text/javascript">
$(function() {
    $(document).on('click', '.btn-header', function(e)
    {
        e.preventDefault();

        var controlForm = $('.ticket_header form:first'),
            currentEntry = $(this).parents('.entry:first'),
            newEntry = $(currentEntry.clone()).appendTo(controlForm);

        newEntry.find('input').val('');
        controlForm.find('.entry:not(:last) .btn-header')
            .removeClass('btn-header').addClass('btn-remove')
            .removeClass('btn-success').addClass('btn-danger')
            .html('<span class="glyphicon glyphicon-minus"></span>');
    }).on('click', '.btn-remove', function(e)
    {
      $(this).parents('.entry:first').remove();

      e.preventDefault();
      return false;
   });

    $(document).on('click', '.btn-footer', function(e)
    {
        e.preventDefault();

        var controlForm = $('.ticket_footer form:first'),
            currentEntry = $(this).parents('.entry:first'),
            newEntry = $(currentEntry.clone()).appendTo(controlForm);

        newEntry.find('input').val('');
        controlForm.find('.entry:not(:last) .btn-footer')
            .removeClass('btn-footer').addClass('btn-remove')
            .removeClass('btn-success').addClass('btn-danger')
            .html('<span class="glyphicon glyphicon-minus"></span>');
    }).on('click', '.btn-remove', function(e)
    {
      $(this).parents('.entry:first').remove();

      e.preventDefault();
      return false;
   });
});
</script>
{include="footer"}